.about {
  margin-top: 130px;
  margin-bottom: 53px;
  display: flex;
}

.about:before {
  content:"";
  display: block;
  width: 520px;
  height: 567px;
  background: url(../../img/about.png) center center / cover no-repeat;
}

.about__desc {
  background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
  display: inline-block;
  margin-left: -150px;
  border-radius: 5px;
  max-width: 684px;
  min-height: 300px;
  padding: 70px 100px;
  margin-top: 135px;
}

.about__desc-text {
  height: 135px;
  width: 580px;
  line-height: 1.8;
  margin-bottom: 42px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}

.about__title {
  margin-bottom: 37px;
}

.about .btn--color--transparent {
  border-color: #FFF;
  color: #FFF;
}

.about .btn--color--transparent:hover {
  background-color: #FFF;
  color: #8F00FF;
  transition: .5s;
}
