.feedback-section {
  background-color: #F4F5F5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 800px;
}

.feedback-section__title {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.form__row {
  display: flex;
  gap: 28px;
}

.form__input {
  flex: 1;
  height: 65px;
  border-radius: 5px;
  border: none;
  background: #FFF;
  padding: 20px 30px;
  font-size: 18px;
  color: #1A1B1E;
}

.form__input:active , .form__input:focus {
  border: 1px solid #8F00FF;
  outline: none;
}

.form__input:hover {
  background-color: #E7E7E7;
  transition: .4s;
}

.form__input:placeholder {
  color: #666;
}

.form__input--textarea {
  width: 1142px;
  height: 235px;
}

.form-controls {
  color: #1A1B1E;
  display: flex;
  margin-bottom: 32px;
}

.form-controls__title {
  font-size: 18px;
}

.controls {
  display: inline-flex;
  flex-wrap: wrap;
  width: 680px;
  margin-left: auto;
}

.controls__item {
  margin-right: 17px;
  margin-bottom: 9px;
}

.controls__elem {
  cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
  background-color: #B9EAE4;
}

.controls__checkbox {
  display: none;
}

.tag {
  background-color: #E7E7E7;
  height: 37px;
  width: max-content;
  text-align: center;
  padding: 10px 20px;
  border-radius: 30px;
}

.controls__tag:hover, .controls__tag:active {
  background-color: #B9EAE4;
  cursor: pointer;
}

.tag:hover {
  transition: .4s;
}

.form__input--textarea {
  resize: none;
}

.form-buttons {
  display: flex;
  justify-content: end;
  gap: 17px;
}

.btn-color-purple {
  background-color: #8F00FF;
  color: #FFF;
}

.btn-color-purple:hover {
  background-color: #741BBA;
  cursor: pointer;
}

.btn-color-grey {
  background-color: #8E8E8E;
  color: #FFF;
}

.btn-color-grey:hover {
  background-color: #2B2B2B;
  cursor: pointer;
}
