.page-content {
  background-color: #FFF;
  color: #000000;
  padding: 99px 0;
}

.game {
  display: flex;
  margin-bottom: 54px;
}

.game:hover {
  cursor: pointer;
}

.game:hover .btn--color--transparent {
  background-color: #8F00FF;
  color: #FFF;
  transition: .5s;

}

.games__item:last-child {
  padding-bottom: 12px;
}

.game__img {
  width: 40%;
  margin-right: 5%;
}

.game__img-elem {
  border-radius: 5px 5px;
}


.game__img-elem--90s {
  border: solid #010101;
  border-width: 71px 14px;
}

.game__content {
  flex: 1;
}

.game__title {
  margin: 10px 0 29px;
}

.game__desc p {
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 1.7;
  color: #303030;
}

.game__content .btn--color--transparent {
  border-color: #8F00FF;
  color: #8F00FF;
}

