
.hero {
  margin-bottom: 190px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
}

.hero__content {
  width: 55%;
  word-wrap: break-word;
}

.hero__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 20px;
    margin-top: 115px;
}

.hero__subtitle {
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 75px;
}

.hero__content .btn  {
  background-color: #8F00FF;
}

.hero__content .btn:hover {
  background-color: #741BBA;
}


