.offer {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 18px);
  min-height: 450px;
  background-color: #fff;
  border-radius: 8px 8px 5px 5px;
}

.offer__header img {
  border-radius: 5px 5px 0px 0px;
}

.offer:last-child {
  margin-right: 0;
}

.offer__header {
  min-height: 145px;
  width: 362px;
  border-radius: 5px 5px 0px 0px;
}

.offer__content {
  padding: 28px 22px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.offer__title {
  color: #000;
  font-size: 24px;
  margin-bottom: 22px;
}

.offer__duration {
  display: flex;
  justify-content: flex-start;
  gap: 54px;
}

.offer__duration-cell {
  color: #666666;
  display: flex;
  align-items: center;
  height: 26px;
  gap: 5px;
  margin-bottom: 23.5px;
 
}

.offer__duration-cell:last-child {
  margin-right: 0;
}

.offer__time {
  font-weight: 400;
  font-size: 16px;
  padding-left: 6px;
}

.offer__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #303030;
  margin-bottom: 24.5px;
}

.btn--color--transparent {
  background: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.offer__content .btn--color--transparent {
  border-color: #8F00FF;
  color: #8F00FF;
  padding: 17px 27px;
  width: 135px;
  height: 55px;
}

.offer__content .btn--color--transparent:hover {
  background-color: #8F00FF;
  color: #FFF;
  transition: .5s;
}
