.past-events {
  display: flex;
  height: 400px;
  margin-bottom: 57.5px;
}

.past-events__item {
  height: 100%;
  flex: 1;
  margin-right: 25px;
}

.past-events__item:last-child {
  margin-right: 0;
}