.top-line {
  min-height: 387px;
  background-color: #17191C;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  background: #17191C url(../../img/group1.png) 25% 56% no-repeat;
}

.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.page__title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 3px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
}


.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: bold;
}

.breadcrumbs__link:hover {
  color: #c9c7c7;
  transition: .3s;
}

breadcrumbs__item--active. breadcrumbs__link:hover {
  color: #9A9A9A;
}


.breadcrumbs__item:after {
  content:"/";
  color: #9A9A9A;
  padding: 0px 4px 0px;
}

.breadcrumbs__item:last-child:after {
  display: none;
}


.breadcrumbs__item {
  display: flex;
  align-items: center;
}

